.flex-centered {
  margin: auto;
}
nb-card-body {
  display: flex;
}
.title {
  text-align: center;
}
.sub-title {
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}
.restricted-img {
  max-width: 500px;
}
