@import 'common.scss';

  .background {

    position: absolute;

    top:0px;

    left:0px;

    width: 100%;

    min-height: 100%;

    height: auto;

    background-color: $secondary-color;

  }

  .container-custom {

    width: 50%;

    margin-top:10%;

    margin-bottom:10%;

  }

  

  .container-custom-mob {

    width: 100%;

    margin-top:30%;

    margin-bottom:10%;

  }

  

  

  .title {

      width: 100%;

      font-size: 32px;

      font-weight: bold;

      font-stretch: normal;

      font-style: normal;

      line-height: normal;

      letter-spacing: normal;

      text-align: center;

      color: $text-white;

  }

  

  .sub-title {

    width: 94%;

    opacity: 0.8;

    font-size: 20px;

    font-weight: 300;

    font-stretch: normal;

    font-style: normal;

    line-height: 1.3;

    letter-spacing: normal;

    text-align: center;

    color: $text-white;

    margin-bottom: 20px;

    margin-top: 20px;

    margin-right: 3%;

  }

  

  .main {

    width:80%;

    margin-right:10%;

    margin-top:20px;

    border-radius: 6px;

    box-shadow: 0 2px 4px 0 $box-shadow-medium;

    background-color: $fill-white;

  

  }

  

  label {

    opacity: 0.7;

    font-size: 16px;

    font-weight: 600;

    font-stretch: normal;

    font-style: normal;

    line-height: normal;

    letter-spacing: normal;

    text-align: right;

    color: $text-primary;

  }

  

  .btn-register {

    width: 60%;

    height: 47px;

    margin-right: 20%;

    margin-top: 20px;

    border-radius: 25px;

    background-color: $primary-color;

    font-size: 18px;

    font-weight: bold;

    font-stretch: normal;

    font-style: normal;

    line-height: normal;

    letter-spacing: normal;

    color: $text-white;

  }

  .btn-signIn {

    width: 60%;

    height: 47px;

    margin-left: 20%;

    margin-top: 20px;

    border-radius: 25px;

    background-color: $primary-color;

    font-size: 18px;

    font-weight: bold;

    font-stretch: normal;

    font-style: normal;

    line-height: normal;

    letter-spacing: normal;

    color: $text-white;

  }

  

  .btn-register-mob {

    width: 90%;

    margin-right: 5%;

  }

  

  input {

    border-radius: 3px;

    border: solid 1px $border-color-dark-gray;

  }

  

  .btn-auth {

    width: 47%;

    height: 50px;

    border-radius: 6px;

    box-shadow: 0 2px 4px 0 $box-shadow-medium;

    background-color: $fill-white;

    margin-right: 10px;

    font-size: 15px;

    font-weight: 600;

    font-stretch: normal;

    font-style: normal;

    line-height: normal;

    letter-spacing: normal;

    text-align: right;

    color: $text-primary;

  }

  .btn-mob {

    width: 95%;

    margin-top: 5px;

  }

  

  .check {

    width: 14%;

    height: 14%;

    object-fit: contain;

    margin-top: 20px;

    margin-left: 43%;

  }

  .success-title {

    width: 80%;

    font-size: 32px;

    font-weight: bold;

    font-stretch: normal;

    font-style: normal;

    line-height: normal;

    letter-spacing: normal;

    text-align: center;

    margin-right: 10%;

    margin-top: 20px;

    color: $text-primary;

  }

  .success-subtitle {

    width: 90%;

    opacity: 0.6;

    font-size: 20px;

    font-weight: 300;

    font-stretch: normal;

    font-style: normal;

    line-height: 1.3;

    letter-spacing: normal;

    text-align: center;

    margin-right: 5%;

    margin-top: 20px;

    color: $text-primary;

  }
