:host {
  .top-banner {
    margin: 30px 0;
    height: 380px;
    
    @media (max-width: 1600px) {
      height: 350px;
    }

    @media (max-width: 1200px) {
      height: 300px;
    }

    @media (max-width: 992px) {
      height: 250px;
    }

    @media (max-width: 767px) {
      margin: 24px 10px; 
      height: 180px;
    }

    carousel {
      z-index: 0;
    }

    .banner-image {  
      
      border-radius: 20px;
      height: 100%;
      
      @media (max-width: 1600px) {
        height: 350px;
      }
  
      @media (max-width: 1200px) {
        height: 300px;
      }
  
      @media (max-width: 992px) {
        height: 250px;
      }
  
      @media (max-width: 767px) {
        height: 180px;
      }
      
    }

    .carousel-control-prev{
      left: -150px;
    }
  }
}

