<div mat-dialog-content>

    <h4 mat-dialog-title>سياسة الاسترجاع والاستبدال والاستكمال</h4>

    <br>

  <h3>يقوم التاجر بتقديم طلب الاستبدال او الاسترجاع او الاستكمال لشركة تاجر في حالة وجود شكوى للعميل النهائي من المنتج،

   وذلك عن طريق فتح الموقع وتسجيل الدخول للحساب والوصول للطلب به ومن ثم الضغط على زر استبدال أو استرجاع أو استكمال، و بيتم الرد على الطلب خلال 24 ساعة عمل </h3>

 <h3>في حالة الموافقة المندوب بيوصل للعميل خلال 3-5 أيام عمل، وفي حالة الرفض بيتم كتابة سبب الرفض في تتبع الطلب</h3>

      <h3>في حالة الاسترجاع، يتم تحويل المبلغ على رقم الكاش الموضح في الطلب بعد 72 ساعة من وصول المنتج للمخازن

      وذلك لفحص المنتج والتأكد من حالته، في حالة عدم وجود أي عيب أو مشكلة من المنتج بيتم خصم 30% من القيمة المدفوعة

    </h3>

</div>
