<div class="filter-container">
  <p>Search Products by</p>
  <form [formGroup]="filterFormGroup" (ngSubmit)="submitProductFilters()">
      <div class="row">
          <div class="col-md-2">
              <nb-form-field>
                  <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                  <input formControlName="prodID" class="width-80" type="text" placeholder="Product ID" nbInput>
              </nb-form-field>
          </div>
          <div class="col-md-3">
            <nb-select class="full-width" placeholder="Select Availability" formControlName="productAvailability">
              <nb-option value="">All</nb-option>
              <nb-option *ngFor="let status of availabilityStatuses" [value]="status.code">{{status.name}}</nb-option>
            </nb-select>
          </div>
          <div class="col-md-3">
            <nb-select class="full-width" placeholder="Select Commercial Category" formControlName="commercialCategoryId">
              <nb-option value="">All</nb-option>
              <nb-option *ngFor="let category of categoriesList" [value]="category.id">{{category.name.arabicName}}</nb-option>
            </nb-select>
          </div>
          <div class="col-md-2 filter-search-btn-container">
              <button class="clear-search" nbButton ghost type="button" (click)="clearSearch()">Clear</button>
              <button class="filter-search" nbButton status="primary" type="submit">Search</button>
          </div>
      </div>
  </form>
</div>
<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
  <nb-card-body>
    <ejs-grid #ejsGrid [dataSource]="tableSettings" class="default-table-style"
      [allowPaging]="true" (actionBegin)="pageChange($event)" [pageSettings]="paginationSettings">
      <e-columns>
        <e-column field='primaryImagePath' headerText='Thumbnail' textAlign='Center' width=70>
          <ng-template #template let-data>
            <img class="thumbnail-image" [src]="data.variantImages[0]" alt="Product image">
          </ng-template>
        </e-column>
        <e-column field='productId' headerText='ID' textAlign='Left' width=90>
          <ng-template #template let-data>
            <p class="product-id--bold">
              {{data.productId}}
            </p>
          </ng-template>
        </e-column>
        <e-column field='productName' headerText='Name' textAlign='Left' width=180></e-column>
        <e-column field='isExpired' headerText='isExpired' textAlign='Left' width=70></e-column>
        <e-column field='price' headerText='Price' textAlign='Left' width=50></e-column>
        <e-column field='profit' headerText='Profit' textAlign='Left' width=50></e-column>
        <e-column field='productAvailability' headerText='Availability' textAlign='Left' width=90></e-column>
        <e-column headerText='' textAlign='Center' width=60>
          <ng-template #template let-data>
            <button nbButton status="primary" class="category-edit-button" (click)="openEditProduct(data._id)">
              <nb-icon icon="category-edit-icon" pack="taager-icons"></nb-icon>
            </button>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </nb-card-body>
</nb-card>
