<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <form>
    <h3>User Features</h3>
    <br /><br />
    <mat-form-field>
      <mat-label>Feature</mat-label>
      <input
        matInput
        type="text"
        placeholder="Name"
        [(ngModel)]="feature"
        name="name"
        required
        text
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tager Ids</mat-label>
      <input
        matInput
        type="text"
        placeholder="Name"
        [(ngModel)]="tagerIds"
        name="text"
        required
        text
      />
    </mat-form-field>
    <div mat-dialog-actions>
      <button
        type="button"
        class="btn btn-success category"
        (click)="newFeature()"
      >
        New
      </button>
      <button
        style="margin-left: 10px"
        type="button"
        class="btn btn-success category"
        (click)="addFeature()"
      >
        Save
      </button>
    </div>
    <br />
    <div *ngFor="let userFeature of formsArray; let i = index">
      <div class="input-group mb-3">
        <tr>
          <td>
            <input value="{{ userFeature.feature }}" disabled />
          </td>
          <td>
            <input value="{{ userFeature.tagerIds }}" disabled />
          </td>
          <td>
            <button
              style="margin-left: 10px"
              type="button"
              class="btn"
              (click)="onEditFeature($event)"
              [attr.data-index]="i"
            >
              Edit Feature
            </button>
          </td>
        </tr>
      </div>
    </div>
    <br /><br />
  </form>
</div>
