.zones-search-field {
  margin-top: 10px;
  margin-bottom: 30px;
}
.modified-label {
  padding: 12px 18px;
  border-radius: 16px;
  background-color: rgb(240 184 80);
  color: rgb(158 104 4);
  border: 1px solid rgb(158 104 4);
  margin-right: 3rem;
}