<div class="background">

    <div [ngClass]="{'container-custom-mob': isMobile,'container-custom': !isMobile}">

    <!-- <div class="row justify-content-md-center card-wrapper"> -->

      <div>

        <div class="title">طلب تغيير كلمة المرور</div>

        <div class="sub-title">انت في اول الطريق الي تحقيق حلمك و تقدر دلوقتي تشوف المنتجات وتبدأ تبيع اللي يناسبك و تحقق ارباح و نجاحات كتير </div>

            <div class="card main">

                <div *ngIf="errorMessage && !loading" class="alert alert-danger form-error-message">

                    {{errorMessage}}

                </div>

                <div *ngIf="successMessage && !loading" class="alert alert-success form-success-message">

                    {{successMessage}}

                </div>

                <loader [loading]="loading"></loader>

                <div class="card-content" *ngIf="!loading">

                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">

                            <label>

                                ادخل البريد الإلكتروني الخاص بحسابك

                            </label>

                            <input class="form-control" type="text" placeholder="أدخل البريد الالكترونى"

                                formControlName="email">

                                <div *ngIf="email.invalid && (submitted)">

                                    <div *ngIf="email.errors.required"  class="input-error">

                                        البريد الإلكتروني مطلوب

                                      </div>

                                    <div *ngIf="email.errors.email"  class="input-error">

                                        هذا البريد الإلكتروني غير صحيح

                                      </div>

                                </div>

                        </div>

                        <button class="btn btn-register" [ngClass]="{'btn-register-mob': isMobile}" type="submit">استمرار</button>

                        <div class="foot-div">

                        <a class="foot-label" [routerLink]="['/login']">الرجوع</a>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
