<p>{{childOrder.orderId}}</p>

<div *ngIf="childOrder" class="main">

    <div class="title">

        <div class="code-title">كود الطلب </div>

        <div class="code-value"> {{childOrder.orderID}} </div>

        <div class="date-title">حالة الطلب</div>

        <button class="btn status-badge" [ngClass]="{'received': statusStage == 'received','delivered': statusStage == 'delivered','cancelled': statusStage == 'cancelled','pending': statusStage == 'pending'}">{{getChildOrderStatus(childOrder.status)}}</button>

        <div class="date-title">تاريخ الطلب </div>

        <div class="date-value">{{convertDate(childOrder.createdAt)}}</div>

        <div class="date-title">تاريخ آخر تحديث</div>

        <div class="date-value">{{convertDate(childOrder.updatedAt)}}</div>

    </div>

    <div class="details-container">

        <div class="details">

            <div class="inline-div">

                <div class="unit">

                    <div class="lab-title">نوع الطلب</div>

                    <div class="lab-value">طلب {{getChildOrderType(childOrder.orderID)}}</div>

                </div>

                <div class="unit">

                    <div class="lab-title">اسم العميل</div>

                    <div class="lab-value">{{childOrder.receiverName}}</div>

                </div>

                <div class="unit">

                    <div class="lab-title">رقم الموبايل</div>

                    <div class="lab-value">{{childOrder.OrderPhoneNum}}</div>

                </div>

                <div class="unit">

                    <div class="lab-title">المحافظة</div>

                    <div class="lab-value">{{childOrder.province}}</div>

                </div>

        </div>

        <div class="inline-div">

            <div class="unit">

                <div class="lab-title">العنوان</div>

                <div class="lab-value">{{childOrder.streetName}}</div>

            </div>

            <div class="unit" *ngIf="multitenancyFlag">

                <div class="lab-title">شحن الي</div>

                <div class="lab-value">{{childOrderCountry.arabicName}}</div>

            </div>

            <div class="unit">

                <div class="lab-title">الملاحظات</div>

                <div class="lab-value">{{childOrder.notes || "لا توجد ملاحظات" }} </div>

            </div>

            <div *ngIf="childOrder.status == 'delivery_suspended' || childOrder.status == 'cancel'" class="unit">

                <div class="lab-title">سبب  تعليق التسليم</div>

                <div class="lab-value">{{matchDeliverySuspendedReason(childOrder.deliverySuspendedReason)}} </div>

            </div>

        </div>

    </div>

    <div class="status">

        <button class="btn btn-viewOrder" (click)="onChildOrdersDetails()">عرض طلب ال{{getChildOrderType(childOrder.orderID)}}</button>

        <button class="btn btn-message" (click)="openChatModel(childOrder)">ارسال رسالة</button>

    </div>

</div>


