.dropdown-filters,
.data-table {
  margin-top: 2rem;
}
.batch-btn {
  position: fixed !important;
  bottom: 6rem !important;
  right: 2rem !important;
  background-color: #000 !important;
  color: white !important;
  padding: 1rem 2rem !important;
  border-radius: 2rem !important;
}
