<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input
        matInput
        placeholder="كلمة السر الحالية"
        type="password"
        formControlName="currentPassword"
        required
      />
      <mat-error *ngIf="form.hasError('required', 'currentPassword')">
        كلمة السر الحالية مطلوبة
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="كلمة السر الجديدة"
        type="password"
        formControlName="newPassword"
        required
      />
      <mat-error *ngIf="form.hasError('required', 'newPassword')">
        كلمة السر الجديدة مطلوبة
      </mat-error>
      <mat-error *ngIf="form.hasError('minlength', 'newPassword')">
        كلمة السر يجب ألا تقل عن ٩ حروف
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="تأكيد كلمة السر"
        type="password"
        formControlName="confirmPassword"
        required
      />
      <mat-error *ngIf="form.hasError('required', 'newPassword')">
        تأكيد كلمة السر الجديدة مطلوبة
      </mat-error>
    </mat-form-field>
    <div *ngIf="form.errors" class="input-error">
      تأكيد كلمة السر لا تتطابق مع كلمة السر
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button type="button" class="btn btn-success" (click)="onConfirm()">
    تغيير كلمة السر
  </button>
</div>
