<nb-card class="commercial-category-container" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
    <nb-card-body>
        <div class="header-section">
            <p class="header-section__header">
                Commercial Categories 
                <span class="header-section__sub-header">
                   ({{ commercialCategoriesList.length | i18nPlural: mapping }})
                </span>
            </p>
        </div> 
        <hr>
        <ngx-add-category #addCategoryComponent (formSubmitted)="onAddCategoryClicked($event)"></ngx-add-category>
        <p class="current-category-header">Current Categories</p>
        <ngx-category-card
            *ngFor="let category of commercialCategoriesList"
            [category]="category"
            [isFeaturedButtonVisible]="true"
            (featureToggleButtonClicked)="onToggleFeaturedCategory(category)"
            (editCategoryClicked)="onEditCategoryClicked($event)"
            (deleteCategoryClicked)="onDeleteCategory($event)"
        ></ngx-category-card>
    </nb-card-body>
</nb-card>
