<div class="order-status-form">
  <h4 mat-dialog-title>Update role</h4>
  <div mat-dialog-content>
    <form [formGroup]="changeRoleForm">
      <mat-form-field>
        <mat-label>Select role</mat-label>
        <mat-select formControlName="role">
          <mat-option [value]="'-1'">Select role</mat-option>
          <mat-option
            *ngFor="let userRole of userRoles"
            [value]="userRole.role"
          >
            {{ userRole.roleName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <app-country-dropdown
        (selectedCountry)="setSelectedCountries($event)"
        [type]="'multi-select'"
        [selectedCountries]="userCountries"
      ></app-country-dropdown>
    </form>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      [disabled]="changeRoleForm.invalid || clicked"
      color="primary"
      (click)="updateRole()"
    >
      Update Role
    </button>
  </div>
</div>