nb-card, nb-card-body {
    margin: 0;
    padding: 0;
    border: none;
}
.internal-category-container {
    min-height: 80vh;
    .header-section {
        &__header {
            font-size:25px;
            font-family:'Taager-Bold';
            margin-right: 12px;
            line-height: 1.5rem;
        }
        &__sub-header {
            font-size: 25px;
            font-family: 'Taager-Regular';
            color: #46b8b0;
        }
    }
    .current-category-header {
        font-size: 20px;
        color:#aaaaaa;
        margin-top: 30px;
    }
}
